.table {
    margin-top: 5rem;



    .title {
        padding: 1.5rem;
        background-color: var(--black-1);
        color: white;
        font-size: 1.1rem;

    }

    tr {

        transition: 0.3s;

        &:nth-child(odd) {
            background-color: var(--bg-2);
        }

        &:hover {
            background-color: var(--bg-3) !important;
        }

        td {
            font-size: 1.05rem;
        }
    }



}